<section class="content-header" id="content-header">
    <h1 class="text-center">SISTEMA DE CONTROL DE PERSONAL</h1>
</section>
<!-- Main content -->
<section class="content" id="content">
  <p class="text-center">elija las operaciones desde el menú de opciones izquierdo</p>
  <p class="text-center"><img src="static/img/organigrama/culture_organizational.jpg" class="imagen-fondo" alt=""></p>
</section><!-- /.content -->