<!-- Main content -->
<section class="content" id="content">
  <div class="row" id="save-personal-salud" style="display:block">
      <div class="col-sm-12 box box-custom">
        <div class="box-header with-border">
          <div class="callout callout-custom" style="margin: 0px;padding: 2px 15px;display: block;float: right;"><p><strong>¡tener en cuenta que!</strong> los campos con <span class="asterisk">*</span> son obligatorios.</p></div>
            <h3 class="box-title" style="background: yellow;padding: 3px;font-weight: bold;"><%= msgHeaderParametroDetalle %> <%tableName %></h3>
        </div>
        <form class="form-horizontal row">
            <div class="box-body col-sm-12">
                <div class="form-group">
                    <input type="hidden" id="idParametroDetalle" value="<%= (detalle && detalle.idParametroDetalle) ? detalle.idParametroDetalle : '' %>">
                    <label for="descripcion" class="col-sm-4 control-label">Descripcion <span class="asterisk">*</span>:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="descripcion" tabindex="1" placeholder="Ejm. Descripción 1" maxlength="30" value="<%= (detalle && detalle.descripcion) ? detalle.descripcion : '' %>">
                    </div>
                </div>
                <div class="form-group">
                    <label for="abreviatura" class="col-sm-4 control-label">Abreviatura:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="abreviatura" tabindex="2" placeholder="Ejm. Abrev 1" maxlength="30" value="<%= (detalle && detalle.abreviatura) ? detalle.abreviatura : '' %>">
                    </div>
                </div>
                <div class="form-group">
                    <label for="ordenPosicion" class="col-sm-4 control-label">Orden / Posición:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="ordenPosicion" tabindex="3" placeholder="Ejm. 5" maxlength="30" value="<%= (detalle && (detalle.ordenPosicion || detalle.ordenPosicion == 0)) ? detalle.ordenPosicion : '55' %>">
                    </div>
                </div>

            </div>
            <div class="box-footer">
                <button class="btn btn-default cancel" tabindex="5" type="button">Cancelar</button>
                <button class="btn btn-primary pull-right save" tabindex="4" type="button">Guardar</button>
            </div>
        </form>
      </div>
  </div>
</section>
<!-- /.content -->
