<style>
.myDragClass { box-shadow: 0 0 13px #000; }
.cur-row:hover { background: #FFFFDD !important }
</style>
<section class="content-header" id="content-body">
    <h3>
      <strong><%= tableName %></strong>
      <span class="pull-right">
          <a href="#" id="add-new"><i class="fa fa-edit"></i> Nuevo</a>
      </span>
    </h3>
</section>
<table class="table table-condensed table-striped" id="tabla-detalle">
        <thead>
          <tr>
            <th>#</th>
            <th>Descripción</th>
            <th>Abreviatura</th>
            <th>Operaciones</th>
          </tr>
        </thead>
        <tbody>
        <% _.each(detalles, function(detalle) { %>
            <tr id="orden-<%= detalle.ordenPosicion == null ? counter : detalle.ordenPosicion %>" data-orden="<%= detalle.ordenPosicion == null ? counter : detalle.ordenPosicion %>" data-id-parametro-detalle="<%= detalle.idParametroDetalle %>" class="cur-row">
                <td><%= detalle.ordenPosicion == null ? counter++ : detalle.ordenPosicion %></td>
                <td><%= detalle.descripcion == null ? "" : detalle.descripcion %> </td>
                <td><%= detalle.abreviatura == null ? "" : detalle.abreviatura %> </td>
                <td><button class="btn btn-default btn-update">Editar</button> <button class="btn btn-danger btn-delete">Eliminar</button> <button class="btn btn-cancel btn-default hidden">No</button></td>
            </tr>
        <%  }) %>
        </tbody>
</table>

