<section class="content-header" id="content-header">
    <h3>
      <strong>PARAMETROS</strong>
    </h3>
</section>
<!-- Main content -->
<section class="content" id="content">
<div role="form" class="form-horizontal">
  <div class="form-group">
    <label for="select-tabla" class="col-sm-3 control-label">SELECCIONA TABLA:</label>
    <div class="col-sm-9">
        <select id="select-tabla" class="form-control" data-placeholder="seleccione una tabla ...">
        <option value=""></option>
        <% _.each(parametros, function(parametro) { %>
          <option value="<%= parametro.idParametro %>"><%= parametro.descripcionTabla.replaceAll("_", " ") %></option>
        <%  }) %>
        </select>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12" id="<%= idContainerDetails %>"></div>
  <div class="col-sm-12" id="<%= idContainerForm %>"></div>
</div>
</section>
<!-- /.content -->
