<!-- Main content -->
<section class="content" id="content">
  <div class="row" id="save-personal-salud" style="display:block">
      <div class="col-sm-12 box box-custom">
        <div class="box-header with-border">
          <div class="callout callout-custom" style="margin: 0px;padding: 2px 15px;display: block;float: right;"><p><strong>¡tener en cuenta que!</strong> los campos con <span class="asterisk">*</span> son obligatorios.</p></div>
            <h3 class="box-title" style="background: yellow;padding: 3px;font-weight: bold;"><%= msgHeaderTablaOcupacionEscala %></h3>
        </div>
        <form class="form-horizontal row">
            <div class="box-body col-sm-12">
                <div class="form-group">
                    <input type="hidden" id="idTablaOcupacionEscala" value="<%= (tablaOcupacionEscala && tablaOcupacionEscala.idTablaOcupacionEscala) ? tablaOcupacionEscala.idTablaOcupacionEscala : '' %>">
                    <label for="descripcion" class="col-sm-4 control-label">Descripción:</label>
                    <div class="col-sm-8">
                        <p class="form-control-static"><%= (tablaOcupacionEscala && tablaOcupacionEscala.parametroDetalleByIdOcupacionCargoPersonal) ? tablaOcupacionEscala.parametroDetalleByIdOcupacionCargoPersonal.descripcion : '' %></p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="remuneracion" class="col-sm-4 control-label">Remuneración <span class="asterisk">*</span>:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="remuneracion" tabindex="2" placeholder="Ejm. 850" maxlength="30" autocomplete="off" value="<%= (tablaOcupacionEscala && tablaOcupacionEscala.remuneracion) ? tablaOcupacionEscala.remuneracion : '' %>">
                        <span id="help-remuneracion" class="help-block"></span>
                    </div>
                </div>
            </div>
            <div class="box-footer">
                <button class="btn btn-default cancel" tabindex="5" type="button">Cancelar</button>
                <button class="btn btn-primary pull-right save" tabindex="4" type="button">Guardar</button>
            </div>
        </form>
      </div>
  </div>
</section>
<!-- /.content -->
