<section class="content-header" id="content-header">
    <h3>
      <strong>Escalas Remunerativas</strong>
    </h3>
</section>
<!-- Main content -->
<section class="content" id="content">
<div role="form" class="form-horizontal">
  <div class="form-group">
    <label for="select-periodo" class="col-sm-3 control-label">SELECCIONA PERIODO:</label>
    <div class="col-sm-9">
        <select id="select-periodo" class="form-control" data-placeholder="seleccione un periodo ...">
        <option value=""></option>
        <% _.each(periodos, function(periodo) { %>
          <option value="<%= periodo.key %>"><%= periodo.value %></option>
        <%  }) %>
        </select>
    </div>
  </div>
  <div class="form-group">
    <label for="select-escala" class="col-sm-3 control-label">SELECCIONA ESCALA:</label>
    <div class="col-sm-9">
        <select id="select-escala" class="form-control" data-placeholder="seleccione una escala ...">
        <option value=""></option>
        <% _.each(escalas, function(escala) { %>
          <option value="<%= escala.key %>"><%= escala.value %></option>
        <%  }) %>
        </select>
    </div>
  </div>

</div>
<div class="row">
  <div class="col-sm-12" id="<%= idTableContainer %>"></div>
  <div class="col-sm-12" id="<%= idFormContainer %>"></div>
</div>
</section>
<!-- /.content -->
