<style>
.myDragClass { box-shadow: 0 0 13px #000; }
.cur-row:hover { background: #FFFFDD !important }
</style>
<table class="table table-condensed table-striped" id="tabla-detalle">
    <thead>
      <tr>
        <th>#</th>
        <th>Ocupación / Cargo</th>
        <th>Remuneración</th>
        <th>Operaciones</th>
      </tr>
    </thead>
    <tbody>
    <% _.each(rows, function(row) { %>
        <tr id="orden-<%= row.ordenPosicion == null ? counter : row.ordenPosicion %>" data-orden="<%= row.ordenPosicion == null ? counter : row.ordenPosicion %>" data-id-tabla-ocupacion-escala="<%= row.idTablaOcupacionEscala %>" data-id-parametro-detalle="<%= row.parametroDetalleByIdOcupacionCargoPersonal.idParametroDetalle %>" class="cur-row">
            <td><%= row.ordenPosicion == null ? counter++ : row.ordenPosicion %></td>
            <td><%= row.parametroDetalleByIdOcupacionCargoPersonal == null ? "" : row.parametroDetalleByIdOcupacionCargoPersonal.descripcion %> </td>
            <td><%= row.remuneracion == null ? "" : row.remuneracion %> </td>
            <td><button class="btn btn-default btn-update">Editar</button></td>
        </tr>
    <%  }) %>
    </tbody>
</table>

