<section class="content-header" id="content-header">
    <h3>
      <strong>PERSONAL DE SALUD</strong>
      <div class="pull-right"><a href="#" class="search-personal-salud" title="" data-toggle="tooltip" data-placement="left" data-original-title="hotKey: Alt + P"><i class="fa fa-search"></i> buscar Personal Salud ...</a></div>
    </h3>

    <div id="hierachy-dep" class="col-sm-12 form-horizontal"></div>
</section>
<!-- Main content -->
<section class="content" id="content">
  <div class="row" id="save-personal-salud" style="display:block">
      <div class="col-sm-12 box box-custom">
        <div class="box-header with-border">
          <div class="callout callout-custom" style="margin: 0px;padding: 2px 15px;display: block;float: right;"><p><strong>¡tener en cuenta que!</strong> los campos con <span class="asterisk">*</span> son obligatorios.</p></div>
            <h3 class="box-title" style="background: yellow;padding: 3px;font-weight: bold;"><%= msgHeaderPersonal %> PERSONAL DE SALUD</h3>
        </div>
        <form class="form-horizontal row">
            <div class="box-body col-sm-6">
                <div class="form-group">
                    <input type="hidden" id="idPersonalSalud" value="<%= (personalSalud && personalSalud.idPersonalSalud) ? personalSalud.idPersonalSalud : '' %>">
                    <label for="nombres" class="col-sm-4 control-label">Nombres <span class="asterisk">*</span>:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="nombres" tabindex="1" placeholder="Ejm. Isaias Federico" maxlength="30" value="<%= (personalSalud && personalSalud.nombres) ? personalSalud.nombres : '' %>">
                    </div>
                </div>
                <div class="form-group">
                    <label for="materno" class="col-sm-4 control-label">AMaterno :</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="materno" tabindex="3" placeholder="Ejm. Montesinos" maxlength="80" value="<%= (personalSalud && personalSalud.materno) ? personalSalud.materno : '' %>">
                    </div>
                </div>
                 <div class="form-group">
                    <label for="select-tipo-documento" class="col-sm-4 control-label">Tipo de documento <span class="asterisk">*</span>:</label>
                    <div class="col-sm-8">
                      <select class="chosen-select" id="select-tipo-documento" tabindex="5" data-placeholder="seleccione un tipo documento ...">
                          <option></option>
                        <% _.each(tiposDocumentos, function(tdocumento) {
                        %>
                          <option value="<%= tdocumento.key %>" <%= (personalSalud && personalSalud.idPersonalSalud && personalSalud.parametroDetalleByIdTipoDocumento.idParametroDetalle == tdocumento.key) ? 'selected="selected"' : '' %>><%= tdocumento.value %></option>
                        <% }) %>
                      </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="select-profesion" class="col-sm-4 control-label">Profesión <span class="asterisk">*</span>:</label>
                    <div class="col-sm-8">
                      <select class="chosen-select" id="select-profesion" tabindex="7" data-placeholder="seleccione una profesión ...">
                          <option></option>
                        <% _.each(profesiones, function(profesion) { %>
                          <option value="<%= profesion.key %>" <%= (personalSalud && personalSalud.idPersonalSalud && personalSalud.parametroDetalleByIdProfesion.idParametroDetalle == profesion.key) ? 'selected' : '' %>><%= profesion.value %></option>
                        <% }) %>
                      </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email" class="col-sm-4 control-label">eMail:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="email" tabindex="9" placeholder="Ejm. isaias.esquivel@mmg.com" maxlength="60" value="<%= (personalSalud && personalSalud.email) ? personalSalud.email : '' %>">
                    </div>
                </div>
            </div>
            <div class="box-body col-sm-6">
                <div class="form-group">
                    <label for="paterno" class="col-sm-4 control-label">APaterno <span class="asterisk">*</span>:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="paterno" tabindex="2" placeholder="Ejm. Esquivel" maxlength="80" value="<%= (personalSalud && personalSalud.paterno) ? personalSalud.paterno : '' %>">
                    </div>
                </div>
                <div class="form-group">
                    <label for="usuario" class="col-sm-4 control-label">Usuario <span class="asterisk">*</span>:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="usuario" tabindex="4" placeholder="Ejm. iesquivel" maxlength="20" value="<%= (personalSalud && personalSalud.usuario) ? personalSalud.usuario : '' %>">
                    </div>
                </div>
                <div class="form-group">
                    <label for="nroDocumento" class="col-sm-4 control-label">Nro de Documento <span class="asterisk">*</span>:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="nroDocumento" tabindex="6" placeholder="Ejm. 45752118" maxlength="12" value="<%= (personalSalud && personalSalud.nroDocumento) ? personalSalud.nroDocumento : '' %>">
                    </div>
                </div>
                <div class="form-group">
                    <label for="fechaNacimiento" class="col-sm-4 control-label">Fecha de Nacimiento :</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control datepicker" id="fechaNacimiento" tabindex="8" placeholder="" maxlength="10" value="<%= (personalSalud && personalSalud.fechaNacimiento) ? personalSalud.fechaNacimiento : '' %>">
                    </div>
                </div>
                <div class="form-group">
                    <label for="celular" class="col-sm-4 control-label">Celular :</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="celular" tabindex="10" placeholder="Ejm. 974205404" maxlength="16" value="<%= (personalSalud && personalSalud.celular) ? personalSalud.celular : '' %>">
                    </div>
                </div>
            </div>
            <div class="box-body col-sm-12">
                <div class="form-group">
                    <label for="domicilio" class="col-sm-2 control-label">Domicilio :</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="domicilio" tabindex="1" placeholder="Ejm. Isaias Federico" maxlength="200" value="<%= (personalSalud && personalSalud.domicilio) ? personalSalud.domicilio : '' %>">
                    </div>
                </div>
            </div>
            <div class="box-body col-sm-12">
                <div class="form-group">
                    <label for="observaciones" class="col-sm-2 control-label">Observaciones :</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" rows="3" tabindex="11" id="observaciones"><%= (personalSalud && personalSalud.observaciones) ? personalSalud.observaciones :'' %></textarea>
                    </div>
                </div>
            </div>

            <div class="box-footer">
                <button class="btn btn-default cancel" tabindex="-1" type="button">Cancelar / Nuevo</button>
                <button class="btn btn-primary pull-right save" type="submit">Guardar</button>
            </div>
        </form>
      </div>
  </div>
</section>
<!-- /.content -->
